<div class="container">
  <% @breweries.each do |brewery| %>
    <div class="container_items"><p>
      <%= brewery.name %> (ID: <%= brewery.id %>)  || Created at: <%= brewery.created_at %>
      <% if @order_by == "num_beers" %>
        || Number of beers: <%= brewery.num_beers %>
      <% end %>
      || <%= link_to "Show Brewery", "/breweries/#{brewery.id}" %>
      || <%= link_to "Edit Brewery", "/breweries/#{brewery.id}/edit" %>
      || <%= link_to "Delete Brewery", "/breweries/#{brewery.id}", method: :delete %>
    <p></div>
    <br>
  <%end%>

  <div class="container_items">
    <p><%= link_to "Order by Number of Beers", "/breweries?order_by=num_beers"%></p>
    <p><%= link_to "New Brewery", "/breweries/new" %></p>

    <%= form_with url: "/breweries", method: :get, local: true do |form| %>
      <%= form.label :exact_match, "Search exact name: " %>
      <%= form.text_field :exact_match %>
      <%= form.submit "Search Exact" %>
    <% end %>
    <br>
    <%= form_with url: "/breweries", method: :get, local: true do |form| %>
      <%= form.label :partial_match, "Search partial name: " %>
      <%= form.text_field :partial_match %>
      <%= form.submit "Search Partial" %>
    <% end %>
  </div>
</div>
