<% @breweries.each do |brewery| %>
  <p>
    <%= brewery.name %> (ID: <%= brewery.id %>)  || Created at: <%= brewery.created_at %>
    || <%= link_to "Edit Brewery", "/breweries/#{brewery.id}/edit" %>
    || <%= link_to "Delete Brewery", "/breweries/#{brewery.id}", method: :delete %>
  <p>
<%end%>

<p>
  <%= link_to "New Brewery", "/breweries/new" %>
</p>