<h1><%= @brewery.name %></h1>

<p><a href="/breweries/<%= @brewery.id %>/beers"><%= @brewery.name %>'s Beer</a>
<p>Brewery ID: <%= @brewery.id %></p>
<p>Barrel Program: <%= @brewery.barrel_program %></p>
<p>Number of Taps: <%= @brewery.num_taps %></p>
<p>Created at: <%= @brewery.created_at %></p>
<p>Updated at: <%= @brewery.updated_at %></p>
<p>Number of Beers: <%= @brewery.num_beers %>